@{
    ViewBag.Title = "Home Page";
}

<style>
    img {
        width: 100%;
        height: auto;
    }
</style>

<div class="jumbotron">
    <h1>Welcome to my home page!</h1>
    <p class="lead">Hi there, this is Yuan. I'm a student at University of North Texas. Welcome to my home page!</p>
    <p>
        <a href="https://www.facebook.com/yuan.yuan.3551380" class="btn btn-primary btn-lg">Go to my facebook! &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <img alt="me1" src="../../Images/1.jpg">
    </div>
    <div class="col-md-4">
        <img alt="me2" src="../../Images/2.jpg">
    </div>
    <div class="col-md-4">
        <img alt="me3" src="../../Images/3.jpg">
    </div>
</div>